.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}



/* Small phones, tablets, large smart phones */

@media (max-width: 1000px) {
  .recommended-container {
    left: -4%;
    margin-left: -6%;
  }

  .recommended-flex {
    flex-wrap: wrap;
    margin-right: 24px;
  }
}

@media (max-width: 800px) {
  .recommended-container {
    margin-left: -100px;
    flex-wrap: wrap;
  }
}

/* Small phones */

@media (max-width: 700px) {
  .recommended-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recommended-flex {
    margin: 0;
  }

  .recommended-title {
    margin: 20px 0;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .recommended-flex {
    padding: 0 24px;
    display: flex;
    justify-content: center;
  }
}